@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: gloss;
    src: url(../font/gloom.ttf); }
body{
    margin: 0;
    padding: 0;
    background: #bb90ce;
}
.left-details{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #000;
    
}
.left-container{
    padding: 10vh 2vw;
    
}
.img{
    text-align: center;
}
.img img{
    width: 175px;
    border-radius: 50%;
    border: 10px solid #444;
}
.nav{
    text-align: center;
    padding-top: 35px;
}
.nav li{
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
    font-size: 18px;
    transition: all 100ms ease-in;
}
.nav a:hover{
    opacity: 1;
}
.nav ul{
    padding: 0;
}
.welcome{
    height: 100vh;
    border-bottom: 2px solid white;
}
.right-details{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100vw - 320px);
}
.name{
    padding: 60px 10px 0px 40px;
}
.name h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-family: gloss;
    margin-bottom: 0;
}
.name h1 span{
    color: white;
    opacity: 0.6;
}
.welcome-details{
    padding: 5vh 10vw 5vh 40px;
}
.welcome-details p{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.social-links li{
    display: inline;
    
}
.social-links a{   
    margin-right: 25px; 
}
.social-links i{
    font-size: 40px;
    color: white;

}

.my-likes{
    height: 100vh;
}